{% if page.layout == 'post' %}
  {% assign description = page.excerpt %}
{% else %}
  {% assign description = site.description %}
{% endif %}

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" id="viewport" name="viewport">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="yes" name="mobile-web-app-capable">
  <meta name="description" content="{{ description | newline_to_br | strip_newlines | replace: '<br />', ' ' | strip_html | strip | truncate: 160 }}" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />
  <title>{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>
  {% if page.layout == 'post' %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "author": "{{ site.author.name }}",
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "headline": "{{ page.title }}",
        "url": "{{ site.url }}{{ page.url }}",
        "inLanguage": "en-US",
        "isFamilyFriendly": "true",
        "keywords": "{{ page.tags| join: ", " }}",
        "image": "{{ site.url }}/favicon.ico",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{ site.url }}{{ page.url }}"
       }
      }
    </script>
  {% endif %}{% if page.layout == 'post' %}
  <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
  <link rel="prefetch" href="https://rpsthecoder.github.io/js-speech-synthesis/stop1.svg">
  <link rel="prefetch" href="https://rpsthecoder.github.io/js-speech-synthesis/play1.svg">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% endif %}
</head>